//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//colours
$lkt-white: #ffffff;
$lkt-dk-grey: #333333;
$lkt-yellow: #ffc300;
$lkt-lt-yellow: #fff3cc;
$lkt-pink: #ff77ad;
$lkt-lt-pink: #ffe4ef;
$lkt-orange: #ff9f00;
$lkt-lt-orange: #ffdaa7;
