@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.header {
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;

    @include tablet {
      padding: 1.5rem;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    gap: 0.25rem;
  }

  &__link--dt {
    display: none;

    @include tablet {
      display: initial;
    }
  }

  &__link--mobile {
    @include tablet {
      display: none;
    }
  }

  &__nav-item {
    @include mb-cta;

    @include tablet {
      @include dt-cta;
    }
  }
}

.logo {
  width: 200px;
}

.small-logo {
  height: 20px;
}
