@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.about {
  padding: 1rem;
  display: flex;

  &--image-first {
    flex-direction: row-reverse;
  }

  &__heading {
    @include mb-subtitles;
    padding-bottom: 0.25rem;
  }

  &__text {
    @include mb-body;
    max-width: 80ch;
  }

  &__image-container {
    display: flex;
  }

  &__image {
    max-width: 100%;
  }
}
