@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.header--landing {
  background-color: $lkt-yellow;
}

.main--landing {
  background-color: $lkt-lt-yellow;
}

.banner--landing {
  background-color: $lkt-yellow;
}

.projects {
  padding: 1rem;
  width: 100%;

  &__heading {
    @include mb-titles;
    padding-bottom: 0.5rem;

    @include tablet {
      @include dt-titles;
    }
  }

  &__gallery {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}
